* {
    margin: 0;
    background-color: grey;
    text-align: center;
    font-family: 'Cormorant SC', serif;
}



nav {
        font-family: 'Cormorant SC', serif;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
}

body,html{
    height: 100%;
    margin: 0;
}

.container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.fonts {
    color: black;
};

h1 {
    align-items: center;
}